ECGSimulator/src/parser/generated/xsd/ecg.v01.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ecg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lead" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="part"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="rate"/>
      <xs:attribute type="xs:short" name="length"/>
    </xs:complexType>
  </xs:element>
</xs:schema>